* {
    box-sizing: border-box;
}

header {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    text-align: center;

    width: 70%;
    padding: 10px;
}

header .title{
    background-color: darkmagenta;
    font-size: 48px;
    color: white;
    padding: 30px;
    margin: 20px 40px;
}

header .start-button{
    padding: 0px 20px 0px 20px;
    margin: 20px;
    font-size: 30px;
    width: 100px;


}

section{
    display: flex;
    justify-content: center;
}
.container{
    padding: 20px;
    width: 70%;
}

.container .display-questions{
    padding: 20px;
    border: solid 10px black;
    border-radius: 20px;
    width: 70%;
    display: none;

}

.container .display-questions .display-question2{
    display: none;
}
.container .display-questions .display-question3{
    display: none;
}
.container .display-questions .display-question4{
    display: none;
}
.container .display-questions .victory{
    display: none;
}
.container .display-questions .victory span{
    font-size: 30px;
}
.container .display-questions .buttons{
    padding: 10px;

}



.timer{
    display: flex;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 20%;
}
.timer .timer-count{
    font-size: 30px;
}

.questionTxt {
    font-size: 20px;
}

button {
    background-color: darkturquoise;
}

button:hover {
    background-color: bisque;
}